# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# runs
run
run-data
run-gametest

# Files from Forge MDK
forge_README.txt
forge*changelog.txt
run-client
